

/* Navbar */
.navbar-brand {
	font-family: 'Patua One', cursive;
	font-size: 64px;
}
.nav-link{
	 text-transform:capitalize;
	 font-family: 'Varela Round', sans-serif;
	 margin-right: 20px;
}

/* JUMBOTRON */
.banner{
	height: 200vh;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('image/Vaksin.jpeg');
	background-size:cover;
	background-position: center;
	height: 530px;
}

/* status */
.status{
	background-color: salmon;
}

 .banner-content{ 
	height: 80%;
	color:white;
	display: flex;
	justify-content: left;
	align-items:flex-end;
	/* margin-left: 2px; */
	text-shadow: 1px 1px 1px rgba(0, 0, 0 , 7);
}

/* VER DEKSTOP */
@media (min-width: 992px){

	.navbar-brand, .nav-link{
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0 , 7);
	}

	.nav-link:hover::after{
		content: ""; 
		display: block;
		border-bottom: 2px solid cyan;
		width: 50%;
		margin:auto;
		padding-bottom: -10px;
		margin-bottom: -10px;
	}

	.banner{
		margin-top: -125px;
	}
	#socialiconsbox {
		margin: 10px 0;
		}
		.socialicons {
		color: #FFF;
		font-size: 1.5em;
		margin-right: 6px;
		font-family: georgia, serif;
		letter-spacing: -1px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		}
		.facebook { background:#3B5998; padding:2px 10px; }
		.twitter { background:#00ACED; padding:2px 10px; }
		.googleplus { background:#D2412E; padding:2px 3px; }
		.linkedin { background:#4A9CC9; padding: 2px 6px; }
}